# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build / Output
# =========================
build/
out/
bin-debug/
coverage/
release/

# =========================
# Electron
# =========================
*.asar

# =========================
# Environment variables
# =========================
.env
.env.local
.env.*.local

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.swp

# =========================
# Misc
# =========================
.cache/
asset/testljud/*.mp3